/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
// variables and mixins
@import "helpers/variable";
@import "helpers/mixins";

select.field {
    padding-right:6px;
    background:url('#{$default-path-img}/-.gif') no-repeat 99% 50% $white;
}

.cell-list {
    display: block;
    width: 100%;
    font-size: 0;

    li {
        display: inline-block;
        vertical-align: middle;
    }
}
