// Button
[class*="btn-"] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: $btn-line-height;
    min-width: $cell-gutter-width*11;
    padding: $btn-padding;
    border: none;
    border-radius: $btn-border-radius;
    text-align: center;
    text-decoration: none;
    color: $btn-color;
    cursor: pointer;
    font-size: $btn-font-size;
    outline: none;
    transition: background-color $transition, color $transition, box-shadow $transition;

    &:hover {
        opacity: 0.9;
        text-decoration: none;
        color: $btn-color;
    }
}

.btn-gray {
    background-color: transparent;
    color: $font-color-base;

    &:hover {
        background-color: $btn-gray-bg;
        color: $font-color-base;
    }
}

.btn-orange   { background-color: $btn-orange-bg; }
.btn-blue     { background-color: $btn-blue-bg; }
.btn-graphite { background-color: $btn-graphite-bg; }

.btn-default:hover { @include disabled(1, null); }

.btn-cell {
    display: block;
    float: none !important;
    width: 100%;
    max-width: $cell-gutter-width*20.5 !important;
    margin: 0 auto;
}
