@font-face {
    font-family: "FontAwesome";
    src: url("/public/fonts/fontawesome-webfont.eot") format("embedded-opentype"),
    url("/public/fonts/fontawesome-webfont.woff2") format("woff2"),
    url("/public/fonts/fontawesome-webfont.woff") format("woff"),
    url("/public/fonts/fontawesome-webfont.ttf") format("truetype"),
    url("/public/fonts/fontawesome-webfont.svg") format("svg");
    font-style: normal;
    font-weight: $normal;
}

[class^="fa-"] {
    position: relative;
    font-weight: $normal;
    font-style: normal;
    font-size: $font-size-base;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: $graphite;
    transition: all $transition;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: "liga";

    &:before {
        display: inline-block;
        vertical-align: middle;
        line-height: 14px;
        font-family: $font-family-awesome;
        font-size: 21px;
        speak: none;
    }
}
// social
.fa-facebook:before         { content: "\f09a"; }
.fa-twitter:before          { content: "\f099"; }
.fa-google:before           { content: "\f1a0"; }
.fa-youtube:before          { content: "\f16a"; }
.fa-telegram:before         { content: "\f2c6"; }
.fa-instagram:before        { content: "\f16d"; }
