@font-face {
    font-family: "Material Icons";
    src: local("Material Icons"),
    local("MaterialIcons-Regular"),
    url("/public/fonts/MaterialIcons-Regular.woff2") format("woff2"),
    url("/public/fonts/MaterialIcons-Regular.woff") format("woff"),
    url("/public/fonts/MaterialIcons-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: $normal;
}

[class*="getmdl"] {
    position: relative;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    font-weight: $normal;
    font-style: normal;
    font-size: $font-size-base;
    color: $graphite;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: "liga";

    &:before {
        content: attr(data-getmdl);
        display: inline-block;
        vertical-align: middle;
        line-height: 14px;
        font-family: $font-family-material;
        font-size: 21px;
    }

    &.getmdl-sm {
        &:before { font-size: 15px; }
    }

    &.getmdl-lg {
        &:before {
            line-height: 25px;
            font-size: 30px;
        }
    }
}

i.close,
i.delete  {
    @extend [class*="getmdl"];
    cursor: pointer;

    &:hover {
        &:before { color: $link-color-hover; }
    }
}

i.close {
    &:before {
        font-size: 1.75rem;
        color: $gray;
    }
}

i.delete {
    &:before { color: $bg-graphite; }
}
