* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div { zoom: 1; }

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
abbr, acronym { border: 0; font-variant: normal; }

button, input, textarea, select, a{ outline: 0; }
br { @include clearfix; }

caption, th { text-align: left; }

em { font-style: italic; }

fieldset, img { border:0; }

i { font-style: normal; }
input, textarea, select { outline: none; }
img {
    max-width: 100%;
    vertical-align: middle;
}
iframe {
    background-color: transparent;
    overflow: hidden;
    border: none;
    vertical-align: top;
}

ol, ul { list-style: none outside none; }

pre, code, kbd, samp, tt {
    font-family: monospace;
    font-size: 108%;
    line-height: 99%;
}

sup, sub {
    vertical-align: super;
    line-height: 0.1 !important;
}

sub { vertical-align: text-bottom; }

strong { font-weight: bold; }

table, td, td p, th p, td ul, th ul, ul ul, ul p { font-size: 100.01%; }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

tr, td { vertical-align: top; }

td { border: 0; }

th {
    display: table-cell;
    vertical-align: inherit;
}
