.clearfix   { @include clearfix; }

// Display visible
.show        { display: block; }
.show-inline { display: inline-block; }
.visible     { visibility: visible !important; }
.invisible   { visibility: hidden; }
.hidden      { display: none; }
.disabled { @include disabled(0.5, null); }


// Floats
.pull-left  { float: left !important; }
.pull-right { float: right !important; }


// Position
.relative { position: relative; }

// Rounded
.rounded { border-radius: $border-radius-round; }

// Inline
.inline, .inline-b {
    display: inline-block;
    float: none;
}
.inline {
    vertical-align: middle;

    &-b {vertical-align: bottom;}
}

// Margin
.m_b-0  { margin-bottom: 0 !important; }
.m_b-sm { margin-bottom: $m_b-sm !important; }
.m_b-md { margin-bottom: $m_b-md !important; }
.m_b-lg { margin-bottom: $m_b-lg !important; }

// Padding
.p_t-0 { padding-top: 0; }
.p_t-5 { padding-top: $cell-gutter-width*0.5; }
.p_b-0 { padding-bottom: 0; }

.p_l-10 { padding-left: $cell-gutter-width; }
.p_l-20 { padding-left: $cell-gutter-width*1.5; }

.p_r-10 { padding-right: $cell-gutter-width; }
.p_r-20 { padding-right: $cell-gutter-width*1.5; }

// Busy
.busy {
    position: relative;
    min-height: 100px;

    &:after,
    &:before {
        @include position(absolute, 0, 0, 0, 0);
        content: "";
    }

    &:after {
        z-index: $z-dropdown;
        background: $bg-opacity url("#{$default-path-img}/-.gif") no-repeat 50% 25%;
        transition: background $transition;
    }

    &:before {
        z-index: $z-dropdown-fullscreen;
        margin: auto;
        width: 60px;
        height: 60px;
        background-color: $bg-blue;
        border-radius: $border-radius-round;
        animation: sk-scaleout 1.0s infinite ease-in-out;
    }
}

img.busy {
    min-height: 55px;
    display: block;
    margin-bottom: $m_b-sm;
    color: transparent;

    &:after { background-color: $white; }
}

// IMG Animated
.item-scale {
    display: inline-block;
    overflow: hidden;

    > img {
        opacity: 0.95;
        transform: scale(1);
        transition: opacity $transition, transform $transition;

        &.border { border: 2px solid $bg-gray; }
    }

    &:hover {
        > img {
            opacity: 1;
            transform: scale(1.015);

            &.border { border-color: lighten($bg-blue, 16%); }
        }
    }
}

// For BUSY
@include animate-keyframe(sk-scaleout) {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.0);
        opacity: 0;
    }
}
