.bricks {
    > li { margin-bottom: $m_b-lg; }

    .bricks-item {
        @include clearfix;
        height: 100%;
        background-color: $white;
        border-radius: $border-radius-small;
        box-shadow: $box-shadow;

        > a {
            display:block;
            color: $font-color-base;
        }

        img {
            width: 100%;
            border-radius: $border-radius-small $border-radius-small 0 0;
        }

        span {
            display: block;

            &:hover { color: $link-color-hover; }
        }

        .bricks-box { padding: $cell-gutter-width; }
    }

    .bricks-item-2 {
        @extend .bricks-item;
        padding: $cell-gutter-width;

        .h3 { color: $blue; }
        span {
            margin: 0;
            padding-bottom: $cell-gutter-width*0.5;
        }
    }

    &.horizontal {
        .bricks-item {
            overflow: hidden;
            height: 115px;
            padding-right: 200px;

            img {
                @include position(absolute, 0, 0, null, null);
                border-radius: 0 $border-radius-small $border-radius-small 0;
                width: 45%;
                height: 100%;
            }
        }
    }
}

@include respond-to("large") {
    .bricks.horizontal { display: none; }
}
