ul.list-chips {
    @include clearfix;
    margin-bottom: $m_b-sm;

    > li {
        margin-bottom: $m_b-sm;

        > a, > span {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: $m_b-sm;
        }

        > span:first-child { font-weight: $bold; }
    }
}

[class*="chips-"] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    margin: 0 2px 4px 0;
    padding: 1px 3px 1px 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: $border-radius-small;
    color: $pills-color;
    cursor: pointer;
    transition: all $transition;

    .close {
        @include position(absolute, 0, 0, null, null);
        display: none;

        &:before {
            font-size: 18px;
            color: $pills-color-active;
        }
    }

    &:hover { color: $pills-color-hover; }
}

.chips {
    &-on,
    &-off { color: $pills-color-active; }

    &-on {
        padding-right: 20px;
        background-color: $pills-bg-color-active;

        .close { display: block; }
    }

    &-off { @include disabled(0.5, null); }
}
