$color-progress-idicator: #6a82ff !default;
$color-progress-circle: $gray;

.diagram {
    position: relative;
    margin: 100px;
    background-color: $gray;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;

    [class*="diagram-item-"] {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotate(1turn);

        &:after {
            content: "";
            width: 150px;
            height: 150px;
            position: absolute;
            bottom: 50%;
            right: 50%;
            transition: all .3s;
            //background-color: red;
            transform-origin: 100% 100%;
            //transform: skewX(30deg);
        }
    }
    }

/*@mixin gencircle($numSegments,$donut: no,$donutSize: 50%,$donutStatic: no) {
    $segmentAngle: 360 / $numSegments;
    $skew: 90 - $segmentAngle;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
@include border-radius(100%);
@include border-box();

    .segment {
        @include transform(skewX(#{"${skew}deg"}));
        .inner {
            @include transform(skewX(#{"-${skew}deg"}));
            &:hover {
                @include transform(skewX(#{"-${skew}deg"}) scale(1.1));
            }
        }
    }

    $segmentIterations: 360;
    @mixin segmentLoop($segmentIndex)
    when ($segmentIndex > 0) {
    $segmentNumber: $segmentIndex / $segmentAngle;
    .segment$ { segmentNumber }
{
    @include transform(rotate(#{"${segmentIndex}deg"}));
} @include segmentLoop($segmentIndex - $segmentAngle);
}
    @mixin segmentLoop(0) { }
    @include segmentLoop($segmentIterations);
}
*/

$diagram-count-items: 11;
$diagram-item-bg: #97afc5, #f7fcff, #97afc5, #f7fcff, #97afc5,#f7fcff, #97afc5,#eee;
$diagram-bla: 180/$diagram-count-items;

@mixin make-diagram-item {
    $count: 360/$diagram-count-items;

    @for $i from 1 through $diagram-count-items {
        //$current-bg:nth($diagram-item-bg, $i);

        &:nth-child(#{$i}) {
            transform: rotate(#{$count*$i}deg) skew(58deg);
            //background-color: $current-bg;
        }
    }
}

.cn-wrapper {
    position: relative;
    min-width: 200px;
    min-height: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;

    ul {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;

        li {
            width: 200px;
            height: 200px;
            transform-origin: 0 0;
            position: absolute;
            top: 0;
            left: 0;

            a {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: #429a67;
                backface-visibility: hidden;
            }

            @include make-diagram-item;
        }

        &:after {
            content: '';
            width: 80%;
        }
    }
}


