// Messages
.messagebox {
    @include clearfix;
    margin-bottom: $m_b-lg;

    a {
        color: $link-color-base;

        &:hover { color: $link-color-hover; }
    }

    .item-error,
    .item-notice,
    .item-success {
        padding: $cell-gutter-width*1.5;
        border-left: 3px solid;
    }

    .item-success {
        background-color: $bg-color-success;
        border-color: $green;
    }

    .item-notice {
        background-color: $bg-base;
        border-color: $graphite;
    }

    .item-error {
        background-color: $bg-color-error;
        border-left: 3px solid $red;
    }

    &-alert {
        @include show-hide(0);
        @include position(fixed, 7%, null, null, 50%);
        transform: translate(-50%, 0);
        z-index: $z-dropdown-fullscreen + 2;
        transition: opacity 0.4s cubic-bezier(0.4, 0, 1, 1);
        min-width: 320px;
        max-width: 400px;
        padding: $cell-gutter-width*1.5;
        border-radius: $border-radius-small;
        background-color: $black-light;
        text-align: center;
        cursor: default;
        pointer-events: none;
        color: $bg-gray;

        &.active { opacity: 0.95; }

        i.getmdl:before {
            line-height: 50px;
            font-size: 40px;
        }
    }
}
