$pagination-size: 40px;

.pagination {
    @include clearfix;
    float: left;
    margin-bottom: $m_b-lg;
    text-align: center;
    background-color: $white;
    border: 1px solid $border-color-gray;
    border-radius: $border-radius-small;

    span, a {
        min-width: $pagination-size;
        height: $pagination-size;
        line-height: $pagination-size;
        padding: 0 $cell-gutter-width*0.5;
        border-right: 1px solid $border-color-gray;
    }

    span, a, > div { float: left; }

    a:hover {
        background-color: $bg-gray;
        color: inherit;
    }

    span {
        &:not(.active) { @include disabled(0.5, $gray); }

        &.active {
            background-color: $bg-graphite;
            color: $white;
        }
    }

    .pages { color: $font-color-base; }

    .first, .prev, .next, .last {
        font-size: 28px;
        font-family: $font-family-material;
    }

    .first:before { content: "\e5DC"; }
    .prev:before { content: "\e314"; }
    .next:before { content: "\e315"; }
    .last:before { content: "\e5DD"; }

    .last { border-right: none; }
}

@include respond-to("small") {
    .pagination {
        width: 100%;
        padding-top: $pagination-size;

        a, span {
            &:not(.pages) {
                width: 50%;
                border-bottom: 1px solid $border-color-gray;
            }
        }

        .pages:first-child {
            &.active { border-radius: 0 0 0 $border-radius-small; }
        }

        .pages:last-child {
            border-right: none;

            &.active { border-radius: 0 0 $border-radius-small 0; }
        }

        [class*="pages-nav-"] {
            position: absolute;
            top: 0;
        }

        .pages-nav {
            &-prev { left: 0; }

            &-next { right: 0; }
        }

        .pages-list {
            display: table;

            span, a {
                display: table-cell;
                float: none;

                &:last-child.active { border-radius: 0 0 $border-radius-small 0; }
            }
        }
    }
}

@include respond-to("small-x") {
    .pagination {
        span, a {
            min-width: inherit;
            font-size: $text-sm;
        }
    }
}
