//    <ul class="list-pills">
//        <li class="active" data-pills="tabs"><span>bla</span></li>
//        <li data-pills="tabs"><span>bla</span></li>
//    </ul>
//    <div class="active" data-pills="content">bla content</div>
//    <div data-pills="content">bla content</div>

ul.list-pills {
    @include clearfix;
    margin-bottom: $m_b-md;
}

[data-pills="content"] {
    display: none;

    &.active {
        display: block;
    }
}

[data-pills="pills"] {
    position: relative;
    display: inline-block;
    cursor: pointer;

    > span {
        display: block;
        margin-right: $cell-gutter-width*0.5;
        padding: 2px $cell-gutter-width*0.5;
        border-radius: $border-radius-small;
        color: $pills-color;
    }
    
    &:hover span { color: $pills-color-hover; }

    &.active span {
        background-color: $pills-bg-color-active;
        color: $pills-color-active;
        cursor: default;
    }

    &.hidden { display: none; }
}

@include respond-to("large") {
    .pills-scroll-app {
        height: 20px;
        overflow-y: hidden;
        
        ul {
            @include cell-list-scroll();
            padding-bottom: $cell-gutter-width*2;
        }
    }
}
