.switch-box {
    position: relative;
    width: $cell-gutter-width*4.6;

    .switch-thumb {
        position: relative;
        display: block;
        width: $cell-gutter-width*4.6;
        height: $checkbox-height;
        background-color: $bg-gray;
        border-radius: 10px;

        &:before {
            content: "";
            @include position(absolute, -4px, null, null, 0);
            z-index: $z-base;
            width: 18px;
            height: 18px;
            background-color: $white;
            border: 2px solid $green;
            border-radius: $border-radius-round;
            transition: all $transition;
            cursor: pointer;
        }

        &:hover:before { box-shadow: $box-shadow-hover; }
    }

    &.active {/*
        .switch-thumb:before {
            border-color: $green;
            background-color: $green;
        }
    */}

    input {
        @include position(absolute, 0, null, null, 0);
        clip: rect(0px, 0px, 0px, 0px);

        &:checked + .switch-thumb {
            &:before {
                transform: translateX(24px);
                border-color: $green;
                background-color: $green;
            }
        }
        &:focus + .switch-thumb { box-shadow: $box-shadow-hover; }
    }
}