.table-viewbox {
    width: 100%;
    overflow: auto;
    margin-bottom: $m_b-md;

    table {
        width: 100%;
        min-width: 500px;

        th, td {
            float: none;
            padding: $cell-gutter-width;
            border: 1px solid $border-color-gray;
        }

        th {
            background-color: $bg-base;
            border: 1px solid $border-color-gray-dark;
        }
    }
}

[class*="table-type"] {
    display: table;
    width: 100%;
    margin-bottom: $m_b-md;

    a:not([class*="btn-"]) { color: $blue; }

    .type-checkbox {
        margin-bottom: $m_b-sm;
        font-size: $text-sm;
    }

    .table-row {
        display: table-row;
        width: 100%;
        padding: $cell-gutter-width*0.5 0;

        &.hidden { display: none; }
    }

    .table-cell {
        display: table-cell;
        padding: $cell-gutter-width*0.5 $cell-gutter-width*0.5 $cell-gutter-width*0.5 0;
    }
}

// ***
.table-header {
    @include hr(null, 0, $border-color-gray);
    float: left;
    width: 100%;
    margin-bottom: $m_b-sm;
    padding-bottom: $cell-gutter-width;
}

// ***
.table-title-line {
    .table-cell {
        @include hr(0, null, $border-color-gray);
        margin-top: $cell-gutter-width*0.5;
        padding-top: $cell-gutter-width;
    }
}

// ***
.table-type-2 {
    border-top: 1px solid $border-color-gray;

    .table-row {
        float: left;
        padding: $cell-gutter-width*0.5 0;
        border-bottom: 1px solid $border-color-gray;
    }

    .table-cell {
        padding: $cell-gutter-width*0.5 $cell-gutter-width;

        &:first-child { padding-left: 0; }
        &:last-child { padding-right: 0; }

        &:not(:last-child) {
            @include after-shadow(translate(4px, 4px), 50px, $white);
            overflow: hidden;
        }

        .img-product { max-height: 75px; }
    }
}

@include respond-to("medium") {
    .cell-data-right { text-align: left; }

    // ***
    .table-type-2 {
        .table-cell {
            float: left;
            width: 100%;
            padding: $cell-gutter-width*0.5 0;

            > div,
            &:before { display: inline-block; }

            &:before {
                content: attr(data-title);
                padding-right: $cell-gutter-width*0.5;
            }
        }
    }

    // ***
    .table-type-1,
    .table-type-2 {
        .table-cell.none-data-title {
            > div { width: 100%; }

            &:before { display: none; }
        }
    }
}

@include respond-to("small") {
    // ***
    .table-type-1 {
        .table-row { float: left; }

        .table-title-line .table-cell { width: 100%; }

        .table-cell {
            width: auto;

            &:first-child { margin-right: $cell-gutter-width; }
        }
    }
}
