//<div class="tabs">
//    <ul class="tabs-scroll-app"> // class tabs-scroll-app - only for adaptive
//        <li><a>Text</a></li>
//        OR
//        <li><span>Text</span></li>
//     </ul>
//</div>
.tabs {
    @include clearfix;
    line-height: $cell-gutter-width*5.2;

    &, ul {
        height: $cell-gutter-width*5.2;
        overflow-y: hidden;
    }

    ul {
        float: left;
        width: 100%;
        white-space: nowrap;
    }

    li {
        position: relative;
        float: left;
        min-width: 25%;

        &:after {
            @include position(absolute, null, null, 0, 0);
            content: "";
            background-color: $bg-gray;
            width: 100%;
            height: 4px;
            transition: background-color $transition;
        }

        a, span {
            display: block;
            width: 100%;
            padding: 0 $cell-gutter-width;
            white-space: nowrap;
            text-transform: uppercase;
            text-align: center;
            font-weight: $bold;
            color: $link-color-base;
            cursor: pointer;
            transition: transform $transition;

            i:not(.getmdl) {
                font-weight: $normal;
                /*color: $gray;*/
            }

            i.getmdl:before { vertical-align: middle; }
        }

        &:hover:not(.active) {
            a, span { transform: translateY(-1px); }
        }

        &.active {
            a, span {
                color: $orange;
                cursor: default;
            }

            &:after {
                width: 100%;
                background-color: $bg-orange;
            }
        }
    }

    + .tabs-content {
        background-color: $white;

        > div {
            @include show-hide(0);
            height: 0;

            &.active { height: auto; }
        }
    }
}

// *** for page-product
[data-sticky-tabs-scroll] {
    @include position(fixed, 0, null, null, 0);
    z-index: $z-dropdown;
    width: 100%;
    height: $cell-gutter-width*5.2;
    overflow-y: hidden;
    background-color: $white;
    box-shadow: $box-shadow;

    ul.tabs-scroll-app {
        @include clearfix;
        @include make-wrapper;
        float: none;
    }
}

@include respond-to("medium") {
    ul.tabs-scroll-app {
        /* @include after-shadow(translate(5px, -8px), 50px, $bg-base); */
        height: $cell-gutter-width*6.2;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-user-select: none;

        li {
            float: none;
            display: inline-block;
            min-width: auto !important;
        }
    }
}