.tooltip {
    position: relative;
    display: inline-block;

    &-item:before {
        content: "i";
        position: relative;
        display: block;
        width: 12px;
        height: 12px;
        line-height: 13px;
        background-color: $white;
        border: 1px solid $bg-gray;
        border-radius: $border-radius-small;
        text-align: center;
        font-weight: $bold;
        font-size: $text-sm;
        color: $graphite;
        cursor: pointer;
    }

    &-content {
        @include position(absolute, -#{$cell-gutter-width}, null, null, 0);
        z-index: $z-dropdown;
        opacity: 0;
        transform: translate(-50%, -100%);
        width: $cell-min-width;
        line-height: $line-height-base + 0.2;
        padding: $cell-gutter-width*1.5;
        box-shadow: $box-shadow;
        background-color: $white;
        border-radius: $border-radius-small;
        font-size: $text-sm;
        font-weight: $normal;
        color: $font-color-base;
        pointer-events: none;
        transition: opacity $transition;

        &:before,
        &:after {
            content: "";
            @include position(absolute, null, null, -9px, calc(50% - 3px));
            border-top: 9px solid $white;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 0;
        }

        &:before {
            bottom: -10px;
            border-top-color: $bg-base;
        }
    }

    &:hover {
        .tooltip-content {
            opacity: 1;
            pointer-events: auto;
        }

        .tooltip-item:after { pointer-events: auto; }
    }
}

.tooltip {
    &-left .tooltip-content {
        transform: translate(-10%, -100%);

        &:before,
        &:after { left: calc(10% - 3px); }
    }

    &-right .tooltip-content {
        transform: translate(-87%, -100%);

        &:before,
        &:after { left: calc(90% - 3px); }
    }

    &-bottom .tooltip-content {
        top: 100%;
        transform: translate(-50%, $cell-gutter-width);

        &:before, &:after {
            border-top: 0;
            border-bottom: 9px solid $white;
            bottom: auto;
            top: -9px;
        }

        &:before {
            top: -10px;
            border-bottom-color: $bg-base;
        }
    }
}

@include respond-to("large") {
    .tooltip { display: none; }

    .tooltip-visible {
        display: inline-block;

        .tooltip-content { display: none; }
    }
}
