.video-width-box {
    display: block;
    width: 99.99%;
    max-width: 800px;
    margin-bottom: $m_b-md;
}

.video-box, #video_main {
    position: relative;
    height: 0;
    overflow:hidden;
    padding-bottom: 56.25%;
}

.video-box { margin-bottom: $m_b-md; }

.video-box iframe,
.video-box object,
.video-box embed,
#video_main iframe,
#video_main object,
#video_main embed {
    @include position(absolute, 0, null, null, 0);
    width: 100%;
    height: 100%;
}
