// <hr />
hr {
    height: 1px;
    margin: 0 0 $m_b-md 0;
    padding: 0;
    background-color: $border-color-gray;
    border: none;
}

.border-t {
    margin-top: $cell-gutter-width*0.5;
    padding-top: $cell-gutter-width;
    border-top: 1px solid $border-color-gray;
}

.border-b {
    margin-bottom: $cell-gutter-width;
    padding-bottom: $cell-gutter-width;
    border-bottom: 1px solid $border-color-gray;
}

// Viewbox
.viewbox {
    @include clearfix;
    margin-bottom: $m_b-lg;
    padding: $cell-gutter-width;
    background-color: $white;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow;
}

.viewbox-striped {
    position: relative;

    > div,
    > ul > li {
        @include clearfix;
        @extend .border-b;

        &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }

    > ul + ul { @extend .border-t; }
}
