body {
    position: relative;
    line-height: $line-height-base;
    overflow-x: hidden;
    background-color: $bg-base !important;
    font-family: $font-family-base;
    font-size: $font-size-base;
    color: $font-color-base;
    touch-action: manipulation;
    -ms-touch-action: manipulation;
}

/* Let's get this party started */
::-webkit-scrollbar { width: $cell-gutter-width*0.75; }

/* Track */
::-webkit-scrollbar-track { background-color: transparent; }

/* Handle */
::-webkit-scrollbar-thumb { background-color: lighten($gray, 26%); }
::-webkit-scrollbar-thumb:window-inactive { background-color: $bg-gray; }

@include respond-to("large") {
    body { /* user-select: none; -webkit-user-select: none; -moz-user-select: none; */ }
    ::-webkit-scrollbar { width: $cell-gutter-width*0.25; }
}

@include respond-to("small") {
    ::-webkit-scrollbar { width: auto; }
}
