.black    { color: $black !important; }
.blue     { color: $blue !important; }
.gray     { color: $gray !important; }
.green    { color: $green !important; }
.graphite { color: $graphite !important; }
.orange   { color: $orange !important; }
.red      { color: $red !important; }
.white    { color: $white !important; }
