// Headings
h1, h2, .h2, h3, .h3, h4, .h4 { font-weight: $normal; }

h2, .h2, h3, .h3 { font-size: $text-x-lg; }

h1, h2, .h2, h3, .h3 { margin-bottom: $m_b-lg; }

h4, .h4 {
    margin-bottom: $m_b-sm;
    font-size: $text-md;
}

@include respond-to("small") {
    h1, h2, .h2, h3, .h3 { font-size: $text-lg; }
}
