// Link
a,
.link,
.link-action,
.link-blue,
.link-gray {
    text-decoration: none;
    outline: none;
    cursor: pointer;

    &:hover {
        color: $link-color-hover;
        transition: color $transition;
    }
}

a,
.link { color: $link-color-base; }

.link-action {
    display: inline-block;
    vertical-align: middle;
    margin-right: $cell-gutter-width;
    margin-bottom: $m_b-md;
    font-size: $text-sm;
}

.link-gray { color: $link-color-gray; }
.link-blue { color: $link-color-blue; }

