// Alignment
.text-center  { text-align: center !important; }
.text-left    { text-align: left !important; }
.text-right   { text-align: right !important; }
.cell-data-right { text-align: right; } /* only data table */

// Size
.text-xx-lg { font-size: $text-xx-lg; }
.text-x-lg  { font-size: $text-x-lg; }
.text-lg    { font-size: $text-lg; }
.text-md    { font-size: $text-md; }
.text-sm    { font-size: $text-sm; }

// Text transform
.capitalize  { text-transform: capitalize; }
.uppercase   { text-transform: uppercase;}

// Weight
.bold   { font-weight: $bold; }
.normal { font-weight: $normal; }

// ***
.italic       { font-style: italic; }

// ***
.nowrap       { white-space: nowrap; }

// ***
.break-word   { word-wrap: break-word; }

// ***
.line-through { text-decoration: line-through; }

// ***
.ellipsis {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Paragraph
.text {
    line-height: $line-height-base + 0.2;

    p {
        line-height: $line-height-base + 0.2;
        margin: 0 0 $m_b-md;
    }

    a, .link { color: $blue; }
}

@include respond-to("small") {
    .text { line-height: $line-height-base + 0.4; }
}
