// Respond
@include respond-to("large") {
    body { /*overflow-x: hidden;*/ }

    .cell-lg { width: 100% !important; }
    .cell-lg-6 { width: 50% !important; }

    .cell-lg {
        &.cell-list {
            > li { /*@extend .cell-lg;*/ }
        }
    }

    .cell-lg-none {
        display: none !important;
        visibility: hidden !important;
    }
}

@include respond-to("medium") {
    .cell-md { width: 100% !important; }
    .cell-md-6 { width: 50% !important; }

    .cell-md {
        &.cell-list {
            > li { /*@extend .cell-md;*/ }
        }
    }

    .cell-md-none {
        display: none !important;
        visibility: hidden !important;
    }
}

@include respond-to("small") {
    .cell-sm { width: 100% !important; }
    .cell-sm-6 { width: 50% !important; }

    .cell-sm {
        &.cell-list {
            > li { /*@extend .cell-sm;*/ }
        }
    }
    
    .cell-sm-none {
        display: none !important;
        visibility: hidden !important;
    }
}

@include respond-to("small-x") {
    .cell-xs { width: 100% !important; }
    .cell-xs-6 { width: 50% !important; }

    .cell-xs {
        &.cell-list {
            > li { /*@extend .cell-xs;*/ }
        }
    }

    .cell-xs-none {
        display: none !important;
        visibility: hidden !important;
    }
}

@include respond-to("small-xx") {
    .cell-xxs { width: 100% !important; }
    .cell-xxs-6 { width: 50% !important; }

    .cell-xxs {
        &.cell-list {
            > li { /*@extend .cell-xxs;*/ }
        }
    }

    .cell-xxs-none {
        display: none !important;
        visibility: hidden !important;
    }
}
