// Wrapper
.wrapper {
    @include make-wrapper;
    @include clearfix;

    &-sm {
        @extend .wrapper;
        width: $cell-gutter-width*45;
    }

    &-static {
        @extend .wrapper;
        min-width: $cell-max-width + ($cell-gutter-width*2);
        width: $cell-max-width + ($cell-gutter-width*2);
        overflow: hidden;
    }
}

.content {
    @include clearfix;
    background-color: $bg-base;
}

.row-fixed { @include clearfix; }
.cell-fixed {
    z-index: $z-dropdown;
    float: left;
    position: relative;
    width: $cell-fixed-width;
    transform: translate($cell-gutter-width, 0);
    margin-bottom: $m_b-lg;
}
.cell-fixed-indent {
    margin-left: $cell-fixed-width;
    padding-left: $cell-gutter-width;
}

@include respond-to("medium") {
    .cell-fixed {
        width: 100%;
        transform: translate(0, 0);
        padding-right: $cell-gutter-width;
        padding-left: $cell-gutter-width;
    }

    .cell-fixed-indent {
        margin-left: 0;
        padding-left: 0;
    }
}

@include respond-to("small-x") {
    .wrapper-sm { width: 100%; }
}
