//Mus to be
//<div class="dropdown">
//    <div>Item click</div>
//
//    <div class="dropdown-bd">
//        <i class="close"></i>
//        <div class="dropdown-hd"></div>
//        Content
//    </div>
//</div>

.arr4 {
    white-space: nowrap;
    
    &:after {
        content: "";
        display: inline-block;
        margin-left: 3px;
        border-color: $graphite transparent transparent;
        border-style: solid;
        border-width: 4px;
    }
}

.dropdown {
    position: relative;

    &-bd {
        @include show-hide(0);
        @include position(absolute, auto, null, null, 0);
        transform: translate(-2.5%, $cell-gutter-width*0.5);
        z-index: $z-dropdown;
        min-width: 350px;
        padding: $cell-gutter-width*2.5 $cell-gutter-width*1.5 $cell-gutter-width;
        background-color: $white;
        box-shadow: $box-shadow;
        border-radius: $border-radius-small;

        &.active { z-index: $z-dropdown-fullscreen; }

        &:before,
        &:after {
            @include position(absolute, -23px, null, null, $cell-gutter-width*1.5);
            content: "";
            border: 12px solid transparent;
        }
    
        &:before { border-bottom-color: $bg-base; }

        &:after {
            top: -21px;
            border-bottom-color: $white;
        }

        .close {
            @include position(absolute, 0, 0, null, null);
            padding: $cell-gutter-width*1.5;
            background-color: $bg-base;
            border-radius: 0 $border-radius-small 0 0;
        }
    }

    &.dropdown-pull-right {
        .dropdown-bd {
            left: auto;
            right: 0;
            transform: translate(0, $cell-gutter-width*0.5);
    
            &:before,
            &:after {
                left: auto;
                right: $cell-gutter-width*1.5;
            }
        }
    }
}

@include respond-to("small-x") {
    .dropdown-bd {
        min-width: 300px;
        max-width: 300px;
    }
}
