//Mus to be
//<body class="reset-scroll">
//    <div class="fade">
//        <div class="lightbox">
//            <i class="close"></i>
//            <div class="lightbox-hd"> Title </div>
//            <div class="lightbox-bd"> Content </div>
//        </div>
//    </div>
//</body>

.reset-scroll {
    position: relative;
    overflow: hidden;
    transition: all $transition;

    &:before {
        content: "";
        @include position(fixed, 0, 0, 0, 0);
        z-index: $z-dropdown-fullscreen - 1;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-color: $bg-opacity-fade;
    }
}

// Reset Scroll Menu
body:not(#page-index) {
    &.reset-scroll-menu {
        @extend .reset-scroll;
        overflow: inherit;
    }
}

.fade {
    @include show-hide(0);

    &.active {
        @include position(fixed, 0, 0, 0, 0);
        z-index: $z-dropdown-fullscreen - 1;
    }
}

.lightbox {
    position: relative;
    max-width: $cell-min-width*2;
    margin: 5% auto;
    background-color: $white;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow-hover;

    &-hd {
        padding: $cell-gutter-width*1.5 $cell-gutter-width*1.5 $cell-gutter-width;
        border-radius: $border-radius-small $border-radius-small 0 0;

        > .h3 {
            max-width: 85%;
            margin-bottom: 0;
        }
    }

    &-bd {
        display: block;
        padding: $cell-gutter-width $cell-gutter-width*1.5 $cell-gutter-width*1.5;
        border-radius: $border-radius-small;
    }

    &-hd + &-bd { padding-top: 0; }

    .close {
        @include position(absolute, 0, 0, null, null);
        padding: $cell-gutter-width*1.5;
        background-color: $bg-base;
    }
}

@include respond-to("large") {
    .lightbox {
        margin: 2.5% auto;
        max-width: 50%;
    }
}

@include respond-to("medium") {
    .lightbox {
        @include position(fixed, 0, 0, 0, 0);
        overflow-x: hidden;
        overflow-y: auto;
        width: 90%;
        max-width: inherit;
        height: 90%;

        &-hd {
            > .h3 { font-weight: $bold; }
        }
    }
}

@include respond-to("small-x") {
    .lightbox {
        height: 100%;
        margin: 0 !important;
        border-radius: 0;

        &-hd,
        &-bd {
            padding-right: $cell-gutter-width;
            padding-left: $cell-gutter-width;
        }
    }
}