@mixin after-shadow($transform, $height, $color) {
    /* position: relative; *//* Kvitka */
    &:after {
        content: "";
        @include position(absolute, 0, 0, 0, null);
        transform: $transform;
        width: $cell-gutter-width*3;
        height: $height;
        background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, .35) 30%, $color 85%);
        pointer-events: none;
    }
}