// Grid on flex box
@mixin flex-nowrap() {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;

    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

@mixin flex-wrap() {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

@mixin tile-set-default($list-columns, $list-gutter-width, $item) {
    @if ($item == false) {
        margin: 0 (-$list-gutter-width / 2);

        > li {
            width: calc(#{$list-columns} - #{$list-gutter-width}) !important;
            margin: 0 ($list-gutter-width / 2);
        }
    } @else {
        > li {
            width: calc(#{$list-columns} - #{$list-gutter-width}) !important;
            margin: 0;
        }
    }
}

@mixin calc-cell-list {
    @for $i from 1 through $cell-columns {
        .list-#{$i} > li {
            width: 100% / $cell-columns * $i;
        }
    }
}

@mixin cell-list-scroll {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: none;
    -moz-user-select: none;
}

@mixin cell-list-scroll-flex {
    @include flex-nowrap();

    @include cell-list-scroll();
}
