// hr
@mixin hr($top, $bottom, $color) {
    @include clearfix;

    &:after {
        @include position(absolute, $top, #{-$cell-gutter-width}, $bottom, #{-$cell-gutter-width});
        content: "";
        display: block;
        border-bottom: 1px solid $color;
    }

    //viewbox padding
    @include respond-to("small-x") {
        &:after {
            left: (-$cell-gutter-width);
            right: (-$cell-gutter-width);
        }
    }
}

@mixin hr-on-text {
    &:before, &:after {
        content: "";
        @include position(absolute, #{-$cell-gutter-width}, null, null, 0);
    }

    &:before {
        width: 100%;
        border-top: 1px solid $border-color-gray;
    }

    &:after {
        content: attr(data-title);
        top: -$cell-gutter-width*1.5;
        left: 50%;
        padding: 0 $cell-gutter-width;
        background-color: $white;
        text-transform: none;
        color: $gray;
        font-size: $text-sm;
        transform: translateX(-50%);
    }
}
