@mixin show-hide($show) {
    @if ($show == 0) {
        display: none;
        /*opacity: 0;
        overflow: hidden;
        visibility: hidden;*/
        transition: opacity 0.3s, overflow 0.3s, visibility 0.3s;

        &.active { display: block; }

    } @else if ($show == 1) {
        display: block;
        /*opacity: 1;
        overflow: visible;
        visibility: visible;*/
    }
}
