@mixin transform-rotate($content, $font-size, $rotate) {
    position: relative;

    &:after {
        content: $content;
        display: inline-block;
        font-family: $font-family-material;
        font-size: $font-size;
        transition: all $transition;
    }

    &.active {
        &:after { transform: rotate($rotate); }
    }
}
