// core cell
$cell-max-width:                78.75rem !default;
$cell-min-width:                18.75rem !default;
$cell-fixed-width:              $cell-min-width;
$cell-columns:                  12;
$cell-gutter-width:             0.625rem !default;
$height-header:                 3.75rem !default;
$line-height-search:            3rem !default;

// screen option
$screen-lg:                     1026px !default;
$screen-md:                     800px !default;
$screen-sm:                     642px !default;
$screen-sm-x:                   502px !default;
$screen-sm-xx:                  362px !default;

// path
$default-path-img:              "/public/i";

// base color
$black:                         #222 !default;
$black-light:                   #555 !default;
$blue:                          #3d7ee5 !default;
$graphite:                      #90a4ae !default;
$gray:                          #888 !default;
$green:                         #7cb342 !default;
$orange:                        #f29000 !default;
$red:                           #e57373 !default;
$white:                         #fff !default;

// typography
$font-family-base:              Arial, sans-serif !default;
$font-family-awesome:           FontAwesome !default;
$font-family-material:          Material Icons !default;
$font-size-base:                14px !default;
$font-color-base:               $black !default;
$line-height-base:              1.2 !default;

$text-xx-lg:                    24px !default;
$text-x-lg:                     20px !default;
$text-lg:                       18px !default;
$text-md:                       16px !default;
$text-sm:                       13px !default;

$text-indent:                  -999rem !default;

$bold:                          600;
$normal:                        400;

// base color-link
$link-color-base:               $black;
$link-color-blue:               $blue;
$link-color-gray:               $gray;
$link-color-hover:              darken($blue, 18%) !default;

// base background
$bg-blue:                       lighten($blue, 11%) !default;
$bg-graphite:                   $graphite;
$bg-gray:                       lighten($graphite, 25%) !default;
$bg-orange:                     lighten($orange, 10%) !default;
$bg-base:                       lighten($gray, 44%) !default;
$bg-color-error:                lighten($red, 30%) !default;
$bg-color-success:              lighten($green, 42%) !default;
$bg-opacity:                    rgba(255, 255, 255, 0.3) !default;
$bg-opacity-fade:               rgba(243, 245, 247, 0.8) !default;

// base box-shadow
$border-color-gray:             lighten($gray, 38%) !default;
$border-color-gray-dark:        lighten($gray, 29%) !default;
$box-shadow:                    0 0 2px 0 rgba(51, 51, 51, 0.05), 0 1px 4px 0 rgba(51, 51, 51, 0.15) !default;
$box-shadow-hover:              0 2px 8px 0 rgba(51, 51, 51, 0.25) !default;
$box-shadow-border:             -1px 1px 0 0 $border-color-gray !default;

// border-radius
$border-radius-small:           2px !default;
$border-radius-medium:          4px !default;
$border-radius-round:           50% !default;

// margin
$m_b-sm:                        $cell-gutter-width*0.5 !default;
$m_b-md:                        $cell-gutter-width !default;
$m_b-lg:                        $cell-gutter-width*1.5 !default;

// transition
$transition:                    0.4s ease 0s !default;

// z-index
$z-base:                        1 !default;
$z-dropdown:                    11 !default;
$z-dropdown-fullscreen:         111 !default;

// button
$btn-blue-bg:                   $bg-blue;
$btn-graphite-bg:               $bg-graphite;
$btn-gray-bg:                   $bg-gray;
$btn-orange-bg:                 $bg-orange;

$btn-line-height:               1 !default;
$btn-padding:                   $cell-gutter-width !default;
$btn-border-radius:             $border-radius-small;
$btn-color:                     $white;
$btn-font-size:                 $font-size-base;

// field
$field-height:                  $cell-gutter-width*3.4 !default;

$field-font-family:             $font-family-base;
$field-font-size:               $font-size-base;
$field-color:                   $font-color-base;

$field-bg-color:                $white;
$field-border-color:            $border-color-gray-dark;
$field-border-radius:           $border-radius-small;

$field-border-color-error:      $red;
$field-bg-color-error:          $bg-color-error;

// pills+chips
$pills-color:                   $link-color-base;
$pills-color-hover:             $link-color-hover;
$pills-color-active:            $black-light;
$pills-bg-color-active:         $bg-gray;

// checkbox
$checkbox-width:                16px !default;
$checkbox-height:               16px !default;