//Must to be
//<label class="type-checkbox">
//    <input type="checkbox" name="example" /><i class="check"></i>
//</label>
i.check {
    position: absolute;
    cursor: pointer;

    &:before,
    &:after {
        content: "";
        @include position(absolute, -1px, null, null, -25px);
        display: block;
        width: $checkbox-width;
        height: $checkbox-height;
        border: 1px solid transparent;
        border-radius: $border-radius-small;
        transition: all $transition;
    }

    &:before {
        background-color: $white;
        border-color: $field-border-color;
    }

    &:after {
        @include animate-property(animation-name, scaleOut);
        @include animate-property(animation-duration, 0.6s);
        @include animate-property(animation-delay, 0.1s);
        @include animate-property(animation-fill-mode, both);
        opacity: 0;
        z-index: $z-base;
        content: "\e5CA";
        font: $normal #{$checkbox-width}/#{$checkbox-width} $font-family-material;
        color: $black-light;
    }
}

label.type-checkbox,
label.type-radio {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 2px 0 2px 26px;
    color: $font-color-base;
    cursor: pointer;

    input[type="checkbox"],
    input[type="radio"] {
        clip: rect(0px, 0px, 0px, 0px);
        @include position(absolute, 0, null, null, 0);
    }
}

label.type-checkbox {
    input[type="checkbox"] {
        &:checked {
            + i.check {
                &:after {
                    opacity: 1;
                    @include animate-property(animation-name, scaleIn);
                }

                &:before {
                    background-color: $bg-gray;
                    border-color: $bg-gray;
                }
            }
        }
    }
}

//Must to be
//<label class="type-radio">
//    <input type="radio" />
//    <i class="outer"><i class="inner"></i></i>
//</label>
label.type-radio {
    input[type="radio"] {
        &:checked + .outer {
            border: 1px solid $field-border-color;

            .inner {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    i.outer {
        @include position(absolute, 2px, null, null, 0);
        width: $checkbox-width;
        height: $checkbox-height;
        background-color: $white;
        border: 1px solid $field-border-color;
        border-radius: $border-radius-round;
    }

    i.inner {
        display: block;
        opacity: 0;
        width: ($checkbox-width - 8px);
        height: ($checkbox-height - 8px);
        margin: 3px;
        background-color: $bg-graphite;
        border-radius: $border-radius-round;
        transition: all $transition;
        transform: scale(0);
    }

    + label.type-radio { margin-left: $cell-gutter-width*1.5; }
}