// Error
.error-field {
    position: relative;
    font-size: $text-sm;
    color: $red;

    .errors,
    [class*="error"] {
        position: relative;
        margin: $cell-gutter-width*0.5 0;/* @Kvitka for login-form */

        &:before {
            content: "!";
            z-index: $z-base;
            display: inline-block;
            vertical-align: text-top;
            width: 14px;
            height: 14px;
            line-height: 14px;
            margin-right: 5px;
            text-align: center;
            background-color: $red;
            border-radius: $border-radius-round;
            color: $white;
            font-weight: $bold;
            font-size: $text-sm - 1;
        }
    }
}
