// field == input/select/textarea
.field {
    width: 100%;
    height: $field-height; /* fix for FF */
    padding: $cell-gutter-width*0.5;
    background-color: $field-bg-color;
    border: 1px solid $field-border-color;
    border-radius: $field-border-radius;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-family: $field-font-family;
    font-size: $field-font-size;
    color: $field-color;
    transition: all $transition;

    &:hover,
    &:focus { border-color: $bg-graphite; }

    &:disabled {
        @include disabled(0.5, $gray);
        background-color: $bg-base;
    }

    &::-ms-expand { display: none; }

    &[placeholder] { color: $black-light; }

    &[class*="error"] {
        margin-bottom: $m_b-sm;
        border-color: $field-border-color-error;
        background-color: $field-bg-color-error;
    }
}

// field - input
input.field {
    display: inline-block;
    vertical-align: middle;

    &[type="number"] {
        -moz-appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0 ;
        }
    }

    &[type="file"] { position: relative; }
}

// field - select
select.field {
    padding-right: $cell-gutter-width*3;
    background: $white url("#{$default-path-img}/arr-select.png") no-repeat 100% center;
    color: $link-color-base;
    cursor: pointer;
    @include prefix(appearance, none, moz webkit);
    @include prefix(padding-end, none, moz webkit);
    @include prefix(user-select, none, moz webkit);

        &:hover { color: $link-color-hover; }

        > option { padding: $cell-gutter-width*0.5 0; }
}

// field - textarea
textarea.field {
    height: 100px;
    vertical-align: top;
    line-height: $line-height-base + 0.21;
    white-space: pre-wrap;
}

// field - add - clear
.field-add,
.field-clear {
    position: relative;
    height: $field-height;
    margin-bottom: $m_b-md;

    .field {
        padding-right: $cell-gutter-width*3;

        & + {
            .add,
            .clear {
                position: relative;
                @include position(absolute, 0, 0, null, null);

                &:before {
                    content: "+";
                    height: $field-height;
                    line-height: $field-height;
                    padding: 0 $cell-gutter-width;
                    background-color: transparent;
                    color: $graphite;
                    font-size: 28px;
                    cursor: pointer;
                }
            }

            .clear { transform: rotate(-45deg); }
        }
    }
}

// required
.required {
    position: relative;

    &:after {
        content: "*";
        margin-left: 2px;
        font-size: $text-md;
        font-weight: $bold;
        color: $red;
    }
}

/* for Delivery-block | Mobile Checkout */
@include respond-to("medium") {
    .field {
        height: auto;
        white-space: normal;
    }
}
