// Form group
.faq-text {
    font-size: $text-sm;
    color: $gray;
}

.form-group {
    @include make-row;
    @include clearfix;
    margin-bottom: $m_b-md;

    .form-item {
        @include clearfix;
        margin-bottom: $m_b-md;

        > .h4 { padding-top: $cell-gutter-width*0.5; }
    }
}

// Form horizontal
.form-horizontal {
    @include clearfix;

    .form-group {
        margin-bottom: 0;

        .h4 {
            padding-top: $cell-gutter-width*0.5;
            text-align: right;
        }
    }
}

@include respond-to("medium") {
    .form-horizontal {
        .form-group .h4 { text-align: left; }
    }
}
